# JWT
JWT_PUBLIC_KEY=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Logging
LOG_LEVEL=

# App
DEBUG=
PROJECT_NAME=
ALLOWED_HOSTS=

# CORS
CORS_ALLOW_ORIGINS=

# Media
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_REGION_NAME=
AWS_S3_BUCKET_NAME=
AWS_S3_MEDIA_UPLOAD_DIR=
AWS_S3_ENDPOINT_URL=
AWS_S3_PUBLIC_BASE_URL=


# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=